*{
    margin: 0;
    padding: 0;
}

.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient( red 20%, blue 30%, khaki 100%);
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
}


.box div{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background: transparent;
}


.box :nth-child(1){
      top: 10%;
      left: 10%;
      animation: animate 1s linear infinite;
}

.box :nth-child(2){
    top: 20%;
    left: 15%;
    animation: animate 3s linear infinite;
}


.box :nth-child(3){
    top: 15%;
    left: 30%;
    animation: animate 4s linear infinite;
}


.box :nth-child(4){
    top: 30%;
    left: 8%;
    animation: animate 3s linear infinite;
}


.box :nth-child(5){
    top: 5%;
    left: 25%;
    animation: animate 5s linear infinite;
}


.box :nth-child(6){
    top: 10%;
    left: 35%;
    animation: animate 8s linear infinite;
}

.box :nth-child(1){
    top: 30%;
    left: 40%;
    animation: animate 6s linear infinite;
}


.box :nth-child(7){
    top: 25%;
    left: 60%;
    animation: animate 9s linear infinite;
}

.box :nth-child(8){
    top: 18%;
    left: 7%;
    animation: animate 4s linear infinite;
}


.box :nth-child(9){
    top: 25%;
    left: 40%;
    animation: animate 3s linear infinite;
}


.box :nth-child(10){
    top: 20%;
    left: 70%;
    animation: animate 1s linear infinite;
}



@keyframes animate {
    0%{
        transform: scale(0) translate(0) rotate(0);
        opacity: 1;
    }

    100%{
        transform: scale(1.5) translate(-90px) rotate(360deg);
        opacity: 1;
    }
}